#clock > p{
  position: relative;
  left: -90px;
  top: 28px;
}
#num{
  position: relative;
  left: 85px;
  top: -20px
}
#game {
  position: relative;
  top: 20px;
}
#row {  
  height: 25px;
}
#dot {  
  display: inline;
  height: 25px;
  width: 25px;
}
#trig{
  display: none;
}
i{
  position: relative;
  left: -4px;
}

